version: 404.0.33.55
clone_depth: 5
skip_tags: true
image: Visual Studio 2017

build_script:
- '"C:\Program Files (x86)\NSIS\makensis.exe" uotiara.nsi'

artifacts:
- path: '*.exe'
  name: uotiara
- path: 'uotiara_00001.it'
  name: uotiara

deploy:
- provider: Environment
  name: uotiara